<div class="container">
    <h1>Portofilo</h1>
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row justify-content-between m-3">
        <div class="col-6 col-md-4 text-center" style="background-color: grey; height: 200px; border: 1px solid #ddd; padding: 10px; color: #ddd; line-height: 5rem; ">Web Design</div>
        <div class="col-6 col-md-4 text-center" style="background-color: rgb(59, 57, 57); height: 200px; border: 1px solid #ddd; padding: 10px; color: #ddd; line-height: 5rem;">Web Design</div>
        <div class="col-6 col-md-4 text-center" style="background-color: grey; height: 200px; border: 1px solid #ddd; padding: 10px; color: #ddd; line-height: 5rem;">Web Design</div>
    </div>
  
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row justify-content-between m-3">
        <div class="col-6 col-md-4 text-center" style="background-color: rgb(59, 57, 57); height: 200px; border: 1px solid #ddd; padding: 10px; color: #ddd;line-height: 5rem;">Web Design</div>
        <div class="col-6 col-md-4 text-center" style="background-color: grey; height: 200px; border: 1px solid #ddd; padding: 10px; color: #ddd; line-height: 5rem;">Web Design</div>
        <div class="col-6 col-md-4 text-center" style="background-color: rgb(59, 57, 57); height: 200px; border: 1px solid #ddd; padding: 10px; color: #ddd; line-height: 5rem; ">Web Design</div>
    </div>
</div>
