
  <!-- Background image -->
  <div class=" head p-0 text-center bg-image">
    <div class="mask h-100" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <img class="rounded-circle m-2" src ="./../../assets/menna.jfif" width="100" height="100">
        <div class="text-white">
            <h1> I'm</h1>
          <h1 class="mb-3">Menna Abdallah</h1>
          <h4 class="mb-3">Software Engneer</h4>
          <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button"
          >Explore More</a
          >
        </div>
      </div>
    </div>
  </div>