<head>
    <link rel="stylesheet" href="footer.component.css">
</head>

<div class="footer container-fluid bg-black text-white">
    <div class="row">
        <div class="col leftside">
            <div>
                <h2>GET IN TOUCH</h2>
            </div>
            <table>
                <tr>
                    <th class="p-1">
                        <i class="fa fa-folder-o"></i>
                    </th>
                    <th>
                        <a href="#" style="color: #E94235;"><fa-icon [icon]="faGoogle"></fa-icon></a>
                    </th>
                    <th class="p-1">
                        {{email}}
                    </th>
                    
                </tr>
                <tr>
                    <th class="p-1">
                    </th>
                    <th>
                        <a href="#" style="color: #33AAE2;"><fa-icon [icon]="faPhone"></fa-icon></a>
                    </th>
                    <th class="p-1">
                        {{phone}}
                    </th>
                </tr>
            </table>
        </div>
        <div class="col middleside text-center d-flex align-items-center justify-content-center">
            <span class="border border-light p-2 w-50">CONTACT ME</span>
        </div>
        <div class="col rightside d-flex align-items-center justify-content-end">
            <div class="icons w-25 d-flex align-items-center justify-content-between">
                <ul style="list-style: none;">

                    <li>
                        <a href="#" style="color: #4867AA;"><fa-icon [icon]="faFacebook"></fa-icon></a>
                    </li>
                    <li>
                        <a href="#" style="color:#1DA1F2"><fa-icon [icon]="faTwitter"></fa-icon></a>
                    </li>
                    <li>
                        <a href="#" style="color:#ffffff"><fa-icon [icon]="faGit"></fa-icon></a>
                    </li>
                    <li>
                        <a href="#" style="color : #0077B5"><fa-icon [icon]="faLinked"></fa-icon></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>