<div class="container" style="margin: 40px;">
    <div class="row">
      <div class="col-3" style="text-align: center;">
        <h2 style=" line-height: 5rem;">About Me</h2>
      </div>
      <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis corporis nesciunt nostrum placeat vel nulla rerum animi libero sunt dolores, voluptates ex dolore praesentium alias dignissimos. Quidem beatae ut fugit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quod cupiditate iure amet dolorem ea earum natus, aperiam ab alias omnis nobis facere. Temporibus autem eum veniam. Esse, quis doloremque?</p>
        <a href="../../assets/file.text" attributes-list download >
            <button style="padding: 10px; background-color: rgb(54, 53, 53); color: white; border: 1px solid; border-radius: 5px;">Download Resume</button>
          </a>
      </div>
    </div>
  </div>