<head>
    <link rel="stylesheet" href="skills.component.css">
</head>
<div class="skills p-4 text-white text-center">
    <div class="container">
        <h1>Skills</h1>
        <span>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, sapiente ducimus eum esse dignissimos est. Fuga, quo qui consectetur itaque veniam obcaecati eaque asperiores a inventore nobis neque tempora consequuntur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio at voluptatum in cum itaque earum voluptatibus error consequatur, odio ut qui tempore temporibus aliquid adipisci, odit suscipit consequuntur ex nulla.
        </span>
        <div class="w-100 m-auto mt-2 d-flex">
            <div class="leftfocus p-4 d-flex flex-column flex-fill">
                <h2 class="text-center">MY FOCUS</h2>
                <div class="w-75 border border-light m-auto"></div>
                <span class="text-start mt-4">UI/UX Design</span> 
                <div class="progress mt-3 ">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                <span class="text-start mt-2">HTML5&CSS3</span>
                <div class="progress mt-3">
                  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="text-start mt-2">Angular</span>
                <div class="progress mt-3">
                  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="text-start mt-2"> TypeScript</span>
                <div class="progress mt-3">
                  <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div> 
        </div>
    </div>
</div>

